@page "/countries"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@Countries"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4">Países</MudText>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Info" OnClick="@(() => ShowModalAsync())">
                    Nuevo
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>País</MudTh>
            <MudTh style="width: 100px;">Estados</MudTh>
            <MudTh style="width: 270px;">Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd DataLabel="Estados">
                <MudTooltip Text="Estados">
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Map" Color="Color.Info" OnClick="@(() => StatesAction(@context))" style="width: 100px;">
                        @context.StatesNumber
                    </MudButton>
                </MudTooltip>
            </MudTd>
            <MudTd>
                <MudTooltip Text="Editar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalAsync(context.Id, true))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="Borrar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               OnClick="@(() => DeleteAsync(@context))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    </MudButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>"No hay registros"</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString="Número de registros"
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText="Todo"
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}
